body{
    background-color: blue;
    margin: 0;
}

@font-face{
    font-family: Redaction20;
    src: url("fonts/Redaction20-Regular.otf") format("opentype");
}

h1{
    font-family: 'Redaction20', Arial, sans-serif;
    text-shadow: 2px 2px 0px white;
    text-align: center;
}

p{
    font-family: 'Redaction20', Arial, sans-serif;
    text-shadow: 2px 2px 0px white;
    text-align: center;
}
