body{
    background-color: #f5c2ff;
    background-image: url("WorkshopImages/cherryblossom.jpg");
    background-repeat: repeat;
    margin: 10px;
}

@font-face{
    font-family: Redaction20;
    src: url("SurveillanceCultureandSoundMaps/fonts/Redaction20-Regular.otf") format("opentype");
}

h1{
    font-family: 'Redaction20', Arial, sans-serif;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    text-align: center;
}

p{
    font-family: 'Redaction20', Arial, sans-serif;
    text-shadow: 2px 2px 0px white;
    text-align: center;
}

.imagediv{
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}
