body{
    background-color: blue;
    margin: 0;
}

#Title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f700ff;
}

#Paragraph1{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

#audio1{    
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.subpagecontainer {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 5px;
  padding: 10%;
  margin: auto;
  background-color: green;
  justify-content: center;
  align-items: center;
}

.subpagecontainer div {
  padding: 10px;
  margin: auto;
  text-align: center;
  line-height: 2em;
}
